ClientViVuTraVinh/ClientViVuTraVinh/Connected Services/serviceHinhAnh/HinhAnhService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="index">
        <s:complexType />
      </s:element>
      <s:element name="indexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="indexResult" type="tns:JsonResponseOfListOfHinhAnh" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="JsonResponseOfListOfHinhAnh">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Error" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfHinhAnh" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHinhAnh">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HinhAnh" nillable="true" type="tns:HinhAnh" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HinhAnh">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DuongDan" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayTao" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="NguoiTao" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TaiKhoan" type="tns:TaiKhoan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TaiKhoan">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TenDangNhap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoDienThoai" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Role" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="store">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DuongDan" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NguoiTao" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="storeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="storeResult" type="tns:JsonResponseOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="JsonResponseOfString">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Error" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="uploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="f" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadFileResult" type="tns:JsonResponseOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="DuongDan" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NguoiTao" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="NgayTao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateResult" type="tns:JsonResponseOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="JsonResponseOfBoolean">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Error" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Data" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deleteResult" type="tns:JsonResponseOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="indexSoapIn">
    <wsdl:part name="parameters" element="tns:index" />
  </wsdl:message>
  <wsdl:message name="indexSoapOut">
    <wsdl:part name="parameters" element="tns:indexResponse" />
  </wsdl:message>
  <wsdl:message name="storeSoapIn">
    <wsdl:part name="parameters" element="tns:store" />
  </wsdl:message>
  <wsdl:message name="storeSoapOut">
    <wsdl:part name="parameters" element="tns:storeResponse" />
  </wsdl:message>
  <wsdl:message name="uploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:uploadFile" />
  </wsdl:message>
  <wsdl:message name="uploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:uploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="updateSoapIn">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="updateSoapOut">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSoapIn">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="deleteSoapOut">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:portType name="HinhAnhServiceSoap">
    <wsdl:operation name="index">
      <wsdl:input message="tns:indexSoapIn" />
      <wsdl:output message="tns:indexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="store">
      <wsdl:input message="tns:storeSoapIn" />
      <wsdl:output message="tns:storeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="uploadFile">
      <wsdl:input message="tns:uploadFileSoapIn" />
      <wsdl:output message="tns:uploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:updateSoapIn" />
      <wsdl:output message="tns:updateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:deleteSoapIn" />
      <wsdl:output message="tns:deleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HinhAnhServiceSoap" type="tns:HinhAnhServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="index">
      <soap:operation soapAction="http://tempuri.org/index" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="store">
      <soap:operation soapAction="http://tempuri.org/store" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadFile">
      <soap:operation soapAction="http://tempuri.org/uploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HinhAnhServiceSoap12" type="tns:HinhAnhServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="index">
      <soap12:operation soapAction="http://tempuri.org/index" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="store">
      <soap12:operation soapAction="http://tempuri.org/store" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadFile">
      <soap12:operation soapAction="http://tempuri.org/uploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap12:operation soapAction="http://tempuri.org/update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap12:operation soapAction="http://tempuri.org/delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HinhAnhService">
    <wsdl:port name="HinhAnhServiceSoap" binding="tns:HinhAnhServiceSoap">
      <soap:address location="http://localhost:49219/Services/HinhAnhService.asmx" />
    </wsdl:port>
    <wsdl:port name="HinhAnhServiceSoap12" binding="tns:HinhAnhServiceSoap12">
      <soap12:address location="http://localhost:49219/Services/HinhAnhService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>