ClientViVuTraVinh/ClientViVuTraVinh/Connected Services/serviceSlider/SliderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="index">
        <s:complexType />
      </s:element>
      <s:element name="indexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="indexResult" type="tns:JsonResponseOfListOfSlider" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="JsonResponseOfListOfSlider">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Error" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfSlider" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSlider">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Slider" nillable="true" type="tns:Slider" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Slider">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AnhNen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TieuDeChinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TieuDePhu" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayTao" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="store">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TieuDeChinh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TieuDePhu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnhNen" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="storeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="storeResult" type="tns:JsonResponseOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="JsonResponseOfBoolean">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Error" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Data" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="indexSoapIn">
    <wsdl:part name="parameters" element="tns:index" />
  </wsdl:message>
  <wsdl:message name="indexSoapOut">
    <wsdl:part name="parameters" element="tns:indexResponse" />
  </wsdl:message>
  <wsdl:message name="storeSoapIn">
    <wsdl:part name="parameters" element="tns:store" />
  </wsdl:message>
  <wsdl:message name="storeSoapOut">
    <wsdl:part name="parameters" element="tns:storeResponse" />
  </wsdl:message>
  <wsdl:portType name="SliderServiceSoap">
    <wsdl:operation name="index">
      <wsdl:input message="tns:indexSoapIn" />
      <wsdl:output message="tns:indexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="store">
      <wsdl:input message="tns:storeSoapIn" />
      <wsdl:output message="tns:storeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SliderServiceSoap" type="tns:SliderServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="index">
      <soap:operation soapAction="http://tempuri.org/index" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="store">
      <soap:operation soapAction="http://tempuri.org/store" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SliderServiceSoap12" type="tns:SliderServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="index">
      <soap12:operation soapAction="http://tempuri.org/index" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="store">
      <soap12:operation soapAction="http://tempuri.org/store" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SliderService">
    <wsdl:port name="SliderServiceSoap" binding="tns:SliderServiceSoap">
      <soap:address location="http://localhost:49219/Services/SliderService.asmx" />
    </wsdl:port>
    <wsdl:port name="SliderServiceSoap12" binding="tns:SliderServiceSoap12">
      <soap12:address location="http://localhost:49219/Services/SliderService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>